<div class="row">
    
    <div class="col-6 text-center">
       <h4> {{laVoiture.marque}}</h4>
    </div>
    <div class="col-6 mx-auto d-block m-2">
        <button class="btn btn-info mr-2" (click)="returnDetails(laVoiture)">Detail voiture</button>
        <button (click)="changeStatuButton()"  [ngClass]="{
            'btn':true,
            'btn-danger': laVoiture.status =='arreter',
            'btn-success': laVoiture.status =='demarrer'}"  >
            {{laVoiture.status}}
        </button>
    </div>
</div>